*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    // background-color: #f3f8fd;
}

nav a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 11;
}

.desktop {
    display: none;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#NavSide,
#NavTop {
    background-color: #ffffff;
    color: #1650a7;
    border: 1px solid rgba(146, 146, 146, 0.5);
    z-index: 10;

.github-btn{
    background-color: #5DAD1E;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color:#ffffff;

}    
}

#NavTopOpenBtn,
#NavSideCloseBtn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
    padding: 0 1rem;
}

nav ul a li {
    color: rgb(41, 40, 40) !important;
}

//! NavTop Styles
#NavTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border:none;

    .beta{
        font-size: 8px;
        position: relative;
top: -12px;
    }
}

//! NavSide Styles
#NavSide {
    z-index: 12;
    font-size: 1.2rem;
    color: rgb(41, 40, 40) !important;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    left: -300px;
    transition: 200ms ease-in-out;
}

#NavSide.active {
    left: 0;
}

div.NavSide-div-close {
    display: flex;
    align-content: center;
    height: 70px;
    #NavSideCloseBtn {
        align-self: center;
        margin-left: 1rem;
    }
}

#NavSideMenus {
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.NavSide-div-menu {
    height: 500px;
    width: 300px;
    &.left-wing {
        position: absolute;
        top: 10;
        transform: translateX(-300px);
        transition: all 500ms ease-in-out;
    }
    &.right-wing {
        position: absolute;
        left: 300px;
        top: 10;
        transition: all 500ms ease-in-out;
    }
    &.chosen-wing {
        position: absolute;
        top: 10;
        transform: translateX(-300px);
        transition: all 500ms ease-in-out;
    }
    &.chosen-main-wing {
        transform: translateX(0px);
        transition: all 500ms ease-in-out;
    }
    transition: all 500ms ease-in-out;
    ul {
        height: 85vh;
        overflow-y: scroll !important;
        li {
            padding: 1rem 1rem 1rem 2rem;
        }
    }
}

ul.NavSide-ul {
    overflow-y: scroll;
    width: 300px;
    a li {
        padding: 0.5rem;
    }
    li:hover {
        background-color: rgba(146, 146, 146, 0.2);
    }
    li.active {
        transition: 100ms ease-in-out;
        background-color: rgba(146, 146, 146, 0.2);
    }
}

.arrow-btn{
    border:none;
    background-color: transparent;
}

nav .version {
    font-size: 0.5rem;
    color: rgba(185, 178, 178, 0.8);
    align-self: center;
    text-align: center;
}

//! For Profile CSS below.
// #nav-side-profile {
//     align-self: center;
// }

// #nav-side-img-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: rgba(255, 208, 0, 0.867);
//     width: 5rem;
//     height: 5rem;
//     margin: 0 auto;
//     border: 5px solid #000;
//     border-radius: 50%;

//     #nav-side-img {
//         background-color: rgba(255, 208, 0, 0.867);
//         width: 5rem;
//         height: 5rem;
//         // border-radius: 999px;
//         border-radius: 50%;
//     }
// }

// #nav-side-profile-name {
//     padding: 1rem;
//     a {
//         color: rgb(41, 40, 40) !important;
//     }
// }

// nav .nav-html-icons {
//     font-size: 1.8rem;
//     font-weight: bold;
//     color: #1650a7;
// }

#main-content {
    height: 100vh;
    padding: 1rem;
}

//! Home
.last-updated-home{
    
}

/* MEDIA QUERY */
@media all and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .NavTop-div {
        width: 100%;
        &.desktop {
            display: block;
        }
        .NavTop-ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }
}
